[submodule "deps/Catch2"]
	path = deps/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "deps/tinyobjloader"]
	path = deps/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
[submodule "tool/mitsuba-fork"]
	path = tool/mitsuba-fork
	url = git@github.com:MangoSister/mitsuba-fork.git
